/* general */
body {
  font-family: 'Roboto', 'Raleway', 'Verdana', sans-serif;
  color: #2e2f42;
}
h2 {
  font-size: 36px;
  line-height: 1.1111111;
}
ul {
  list-style-type: none;
}

li a {
  text-decoration: none;
}

.our-team-list li p,
.our-portfolio-list li p {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

.our-team-list li a,
.our-portfolio-list li a {
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

.list-address li address a {
  font-style: normal;
  color: #434455;
}

.our-team-list li h3,
.our-portfolio-list li h3 {
  font-size: 14px;
  line-height: 1.7142857;
  color: #434455;
}

/* header */
.web-studio {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.1666666;
}

header .web-studio {
  color: #2e2f42;
}

.web {
  color: #4d5ae5;
}

header {
  font-size: 16px;
  line-height: 1.5;
}

/* main: 'order' section */
.order-section {
  background-color: #2e2f42;
  color: white;
}

h1 {
  font-size: 56px;
  line-height: 1.071428;
  text-align: center;
}
.order-button {
  color: white;
  background-color: #4d5ae5;
  font-size: 24px;
  line-height: 1.5;
  cursor: pointer;
}

/* main: 'our team', 'our portfolio' sections */
.our-team h2,
.our-team h3,
.our-team p,
.our-portfio h2 {
  text-align: center;
}

.our-team {
  background-color: #f4f4fd;
}

.our-team .our-team-list li {
  background-color: white;
}

/* footer */
footer {
  background-color: #2e2f42;
}

footer p {
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
}

footer .web-studio {
  color: #f4f4fd;
}

/*interaction with the page*/
a:hover,
a:focus,
.order-button:hover,
.order-button:focus {
  color: #404bbf;
}
