/* general */
body {
  font-family: Roboto, sans-serif;
  color: #2e2f42;
  background-color: white;
}
h2 {
  font-size: 36px;
  line-height: 1.1111111;
}
ul {
  list-style-type: none;
}

li a {
  text-decoration: none;
}

/* header */
.web-studio {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.1666666;
  font-family: Raleway;
  letter-spacing: 0.03em;
}

header .web-studio {
  color: #2e2f42;
}

.web {
  color: #4d5ae5;
}

.navigation-list li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.list-address li a {
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

/* main: 'hero' section */
.hero-section {
  background-color: #2e2f42;
  color: white;
}

h1 {
  font-size: 56px;
  line-height: 1.071428;
  letter-spacing: 0.02em;
  text-align: center;
}

.order-button {
  color: white;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

/*'our-feature' section*/
.our-features h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.our-features p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* main: 'our team', 'our portfolio' sections */
.our-team h2,
.our-portfio h2 {
  text-align: center;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.111111111111;
  color: #2e2f42;
}

.our-team {
  background-color: #f4f4fd;
}

.our-team .our-team-list li {
  background-color: white;
}

.our-team-list li a,
.our-portfolio-list li a {
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

.our-team-list li h3,
.our-portfolio-list li h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.our-team-list li p,
.our-portfolio-list li p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

/* footer */
footer {
  background-color: #2e2f42;
}

footer p {
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

footer .web-studio {
  color: #f4f4fd;
}

/*interaction with the page*/
a:hover,
a:focus {
  color: #404bbf;
}
